.nav-container {
     background-color: transparent;
     color: white;
  }
  
  .nav-links {
    list-style: none;
  }
  
  .nav-links li {
    list-style: none;
    text-decoration: none;
  }
  
  .nav-links a {
    text-decoration: none;
    font-size: 18px;
    @media screen and (max-width : 767px){
    font-size: 14px;
      
    }
  }
  
  .search-container input {
    border: 1px solid rgba(255, 255, 255, 0.377);
    outline: none;
    padding: 5px;
    border-radius: 5px;
  background-color: transparent;
  }
  .search-icon{
    cursor: pointer;
  }
.icon{
  font-size: 20px;
}
 
  
 
  