button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px !important;
  }
  .btn-primary{
    padding: 3px !important; 
  }
  
  .film-card {
    height: 100%;
    border: none;
    box-shadow: none;
  }
  
  .film-card img {
    height: 260px;
    object-fit: cover;
  }
  
  .info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: none; 
  }
  
  .card-body {
    height: 100%;
    display: flex;
    flex-direction: column;
    background: none; 
  }
  
  .rating {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .card-title {
    margin-top: 10px;
    font-size: 1.1em;
    margin-bottom: 20px;
  }
  
  .card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background: none; 
  }
  
  .d-flex {
    display: flex;
  }
  .flex-column {
    flex-direction: column;
  }
  .align-items-center {
    align-items: center;
  }
  .gap-3 {
    gap: 1rem;
  }
  .mt-auto {
    margin-top: auto;
  }
    
  